<div class="container-profile">
    <nz-card style="width:300px;" nzTitle="Mon profil" *ngIf="authService.userData as user" [nzExtra]="signout">
        <p>
            User ID: <strong>{{ user.uid }}</strong>
        </p>
        <p>
            Email: <strong>{{ user.email }}</strong>
        </p>
        <p>
            Email Verified: <strong>{{ user.emailVerified }}</strong>
        </p>
    </nz-card>

    <ng-template #signout>
        <button nz-button [nzSize]="'large'" nzType="primary" (click)="authService.SignOut()">
            <i nz-icon nzType="logout" nzTheme="outline"></i>Deconnexion
        </button>
    </ng-template>

    <nz-card nzTitle="Code EAN" [nzExtra]="buttonGenerateEAN" class="generate-ean">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="input search text" [(ngModel)]="value" [disabled]="true" />
        </nz-input-group>
        <p style="margin-top: 5px">
            <i
                >N'hesitez pas à régénérer le code EAN si il ne fonctionne pas du premier coup. Il a pu être déjà
                utilisé.</i
            >
        </p>
        <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch (click)="copyMessage(value)">
                <i nz-icon nzType="copy" nzTheme="outline"></i>Copier
            </button>
        </ng-template>
    </nz-card>

    <ng-template #buttonGenerateEAN>
        <button nz-button [nzSize]="'large'" nzType="primary" (click)="generateEAN()">
            <i nz-icon nzType="sync" nzTheme="outline"></i>Générer un nouveau Code EAN
        </button>
    </ng-template>

    <nz-card style="width:800px; margin-top: 25px" nzTitle="Générateur de labyrinthe" [nzExtra]="buttonGenerateMaze">
        <div nz-row>
            <nz-form-item nz-col nzSpan="6">
                <nz-form-label [nzSpan]="8" nzFor="email">Ligne</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-input-number
                        [(ngModel)]="row"
                        [nzMin]="20"
                        [nzMax]="100"
                        [nzStep]="1"
                        [nzPlaceHolder]="'Nombre de ligne'"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzSpan="6">
                <nz-form-label [nzSpan]="8" nzFor="email">Colonne</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-input-number
                        [(ngModel)]="col"
                        [nzMin]="30"
                        [nzMax]="100"
                        [nzStep]="1"
                        [nzPlaceHolder]="'Nombre de colonne'"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <button nz-button [nzSize]="'large'" nzType="primary" (click)="downloadImage()">
                <i nz-icon nzType="download" nzTheme="outline"></i>Télécharger l'image
            </button>
        </div>
        <canvas id="maze"></canvas>
        <ng-template #buttonGenerateMaze>
            <button style="margin-right: 5px" nz-button [nzSize]="'large'" nzType="primary" (click)="generateMaze()">
                <i nz-icon nzType="sync" nzTheme="outline"></i>Générer un nouveau labyrinthe
            </button>
            <button nz-button [nzSize]="'large'" nzType="primary" (click)="generatePath()">
                <i nz-icon nzType="rollback" nzTheme="outline"></i>Générer le chemin
            </button>
        </ng-template>
    </nz-card>
</div>
